In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\SHEEL\Desktop\BTC_tweets.csv')

In [3]:
df.head()

,Unnamed: 0,Date,Tweet,Screen_name,Source,Link,Sentiment,sent_score,New_Sentiment_Score,New_Sentiment_State
0,0,Fri Mar 23 00:40:32 +0000 2018,"RT @ALXTOKEN: Paul Krugman, Nobel Luddite. I h...",myresumerocket,[],"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",['neutral'],0.0,0.000000,0.0
1,1,Fri Mar 23 00:40:34 +0000 2018,@lopp @_Kevin_Pham @psycho_sage @naval But @Pr...,BitMocro,[u'Bitcoin'],"<a href=""http://twitter.com/download/android"" ...",['neutral'],0.0,0.000000,0.0
2,2,Fri Mar 23 00:40:35 +0000 2018,RT @tippereconomy: Another use case for #block...,hojachotopur,"[u'blockchain', u'Tipper', u'TipperEconomy']","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",['positive'],1.0,0.136364,1.0
3,3,Fri Mar 23 00:40:36 +0000 2018,free coins https://t.co/DiuoePJdap,denies_distro,[],"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",['positive'],1.0,0.400000,1.0
4,4,Fri Mar 23 00:40:36 +0000 2018,RT @payvxofficial: WE are happy to announce th...,aditzgraha,[],"<a href=""http://twitter.com/download/android"" ...",['positive'],1.0,0.468182,1.0

In [4]:
df = df.drop(columns=['Unnamed: 0','Date','Screen_name','Sentiment','sent_score','New_Sentiment_Score'])

In [5]:
df.head()

,Tweet,Source,Link,New_Sentiment_State
0,"RT @ALXTOKEN: Paul Krugman, Nobel Luddite. I h...",[],"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",0.0
1,@lopp @_Kevin_Pham @psycho_sage @naval But @Pr...,[u'Bitcoin'],"<a href=""http://twitter.com/download/android"" ...",0.0
2,RT @tippereconomy: Another use case for #block...,"[u'blockchain', u'Tipper', u'TipperEconomy']","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",1.0
3,free coins https://t.co/DiuoePJdap,[],"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",1.0
4,RT @payvxofficial: WE are happy to announce th...,[],"<a href=""http://twitter.com/download/android"" ...",1.0

In [16]:
X = df['Tweet']

In [7]:
y = df['New_Sentiment_State']

In [8]:
y.value_counts()

 1.0    22545
 0.0    21742
-1.0     6565
Name: New_Sentiment_State, dtype: int64

In [17]:
data = df[['Tweet', 'New_Sentiment_State']].copy()

In [20]:
data.head()

                                               Tweet  Label
0  RT @ALXTOKEN: Paul Krugman, Nobel Luddite. I h...    0.0
1  @lopp @_Kevin_Pham @psycho_sage @naval But @Pr...    0.0
2  RT @tippereconomy: Another use case for #block...    1.0
3                 free coins https://t.co/DiuoePJdap    1.0
4  RT @payvxofficial: WE are happy to announce th...    1.0

In [19]:
data = data.rename(columns={'New_Sentiment_State': 'Label'})

In [21]:
for i in range(len(data)):
    if data['Label'][i] == 0.0:
        data = data.drop(index = i)

In [22]:
data['Label'].value_counts()

 1.0    22545
-1.0     6565
Name: Label, dtype: int64

In [35]:
data = data.reset_index()

In [36]:
data.head()

   index                                              Tweet  Label
0      2  RT @tippereconomy: Another use case for #block...    1.0
1      3                 free coins https://t.co/DiuoePJdap    1.0
2      4  RT @payvxofficial: WE are happy to announce th...    1.0
3      5  Copy successful traders automatically with Bit...    1.0
4      6  RT @bethereumteam: We're revealing our surpris...    1.0

In [37]:
for i in range(len(data)):
    if data['Label'][i] == -1.0:
        data['Label'][i] = 0
    elif data['Label'][i] == 1.0:
        data['Label'][i] = 1

<ipython-input-37-e7b678a1fb93>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Label'][i] = 1
<ipython-input-37-e7b678a1fb93>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Label'][i] = 0

In [38]:
data["Label"].value_counts()

1.0    22545
0.0     6565
Name: Label, dtype: int64

In [39]:
data.to_csv('Btc-Tweets.csv')